<h1>ANIMAL DETAILS</h1>
<a href="/animals/create" class="btn btn-success">New Pet</a>

<div class="card" style="width: 18rem;">
     <img class="card-img-top" src="{{ animal.image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Name: {{ animal.name }}</h5>
    <p class="card-text">Trainer: {{ animal.trainer}}</p>
    <p class="card-text">Ownername: {{ animal.ownername }}</p>
    <p class="card-text">Achievements: {{ animal.achievements }}</p>
    <p class="card-text">{{ animal.pedigree }}</p>

      <hr>
    <a href="/animals/{{animal._id}}/edit" class="text-warning">Edit</a>
     <hr>
    
    <a href="/animals" class="btn btn-success">back</a>

    <form action="/animals/{{ animal._id }}/delete" method="post">
        <button type="submit" class="btn btn-sm btn-outline-danger" data-confirm="Are you sure?">Delete</button>

        <hr>
    </form>
  </div>
</div>