<h1>EDIT ANIMAL</h1>

<div class="container">
    <p class="form-title"> </p>

    <form action="/animals/{{ animal._id }}/edit" method="POST">

        <label class="mr-sm-2" for="inlineFormCustomSelect">TYPE</label>
        <select type="text" name="type" value="{{ animal.type }}">
            <option>Choose...</option>
            <option value="DOG" {{#isSelected animal.type "DOG" }} selected {{/isSelected}}>Dog</option>
            <option value="HORSE" {{#isSelected animal.type "HORSE" }} selected {{/isSelected}}>Horse</option>
        </select>
        {{#if errors.type }}
        <p>{{ errors.type }}</p>
        {{/if}}

        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Name</label>
            <div class="col-2">
                <input class="form-control" type="text" name="name" value="{{ animal.name }}"> 
                {{#if errors.name }}
                <p>{{ errors.name }}</p>
                {{/if}}
            </div>

            <label for="example-text-input" class="col-2 col-form-label">COLOR</label>
            <div class="col-10">
                <input class="form-control" type="text" name="color" value="{{ animal.color }}"> {{#if errors.color }}
                <p>{{ errors.color }}</p>
                {{/if}}
            </div>

            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">AGE</label>
                <div class="col-2">
                    <input class="form-control" type="number" name="age" value="{{ animal.age }}"> {{#if errors.age }}
                    <p>{{ errors.age }}</p>
                    {{/if}}
                </div>
            </div>

            <label class="mr-sm-2" for="inlineFormCustomSelect">PEDIGREE</label>
            <select type="text" name="pedigree" value="{{ animal.pedigree }}">
                <option selected>Choose...</option>
                <option value="YES" {{#isSelected animal.pedigree "YES" }} selected {{/isSelected}}>YES</option>
                <option value="NO" {{#isSelected animal.pedigree "NO" }} selected {{/isSelected}}>NO</option>
            </select>
            {{#if errors.pedigree }}
            <p>{{ errors.pedigree}}</p>
            {{/if}}

            <div class="form-group">
                <label for="exampleFormControlTextarea1">ACHIEVEMENTS</label>
                <textarea class="form-control" type="text" name="achievements" value="{{ animal.achievements }}" rows="3"></textarea> {{#if errors.achievements }}
                <p>{{ errors.achievements}}</p>
                {{/if}}
            </div>

            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">TRAINER</label>
                <div class="col-2">
                    <input class="form-control" type="text" name="trainer" value="{{ animal.trainer }}"> {{#if errors.trainer }}
                    <p>{{ errors.trainer }}</p>
                    {{/if}}
                </div>

                <div class="form-group row">
                    <label for="example-number-input" class="col-2 col-form-label">OWNER</label>
                    <div class="col-2">
                        <input class="form-control" type="text" name="ownername" value="{{ animal.ownername }}"> {{#if errors.ownername }}
                        <p>{{ errors.ownername }}</p>
                        {{/if}}
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">ADDRESS</label>
                <div class="col-2">
                    <input class="form-control" type="text" name="address" value="{{ animal.address }}"> 
                    {{#if errors.address }}
                    <p>{{ errors.address }}</p>
                    {{/if}}
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">TOWN</label>
            <div class="col-2">
                <input class="form-control" type="text" name="town" value="{{ animal.town }}"> {{#if errors.town }}
                <p>{{ errors.town }}</p>
                {{/if}}
            </div>

        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">POSTCODE</label>
            <div class="col-2">
                <input class="form-control" type="number" name="postcode" value="{{ animal.postcode }}"> {{#if errors.postcode }}
                <p>{{ errors.postcode }}</p>
                {{/if}}
            </div>

        </div>
-->
        <button type="submit" class="btn btn-default btn-sm">Editar animal</button>




</div>
</form>