<h1>EDIT ANIMAL</h1>

<div class="container">
    <p class="form-title"> </p>

    <form action="/animals/{{ animal._id }}/edit" method="POST">

            <label for="example-text-input" class="col-2 col-form-label">COLOR</label>
            <div class="col-10">
                <input class="form-control" type="text" name="color" value="{{ animal.color }}"> {{#if errors.color }}
                <p>{{ errors.color }}</p>
                {{/if}}
            </div>

            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">AGE</label>
                <div class="col-2">
                    <input class="form-control" type="number" name="age" value="{{ animal.age }}"> {{#if errors.age }}
                    <p>{{ errors.age }}</p>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">ACHIEVEMENTS</label>
                <textarea class="form-control" type="text" name="achievements" value="{{ animal.achievements }}" rows="3"></textarea> {{#if errors.achievements }}
                <p>{{ errors.achievements}}</p>
                {{/if}}
            </div>

            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">TRAINER</label>
                <div class="col-2">
                    <input class="form-control" type="text" name="trainer" value="{{ animal.trainer }}"> {{#if errors.trainer }}
                    <p>{{ errors.trainer }}</p>
                    {{/if}}
                </div>

                <div class="form-group row">
                    <label for="example-number-input" class="col-2 col-form-label">OWNER</label>
                    <div class="col-2">
                        <input class="form-control" type="text" name="ownername" value="{{ animal.ownername }}"> {{#if errors.ownername }}
                        <p>{{ errors.ownername }}</p>
                        {{/if}}
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">ADDRESS</label>
                <div class="col-2">
                    <input class="form-control" type="text" name="address" value="{{ animal.address }}"> 
                    {{#if errors.address }}
                    <p>{{ errors.address }}</p>
                    {{/if}}
                </div>

            </div>
        </div>

          <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">LNG</label>
                <div class="col-2">
                    <input class="form-control" type="string" name="lng" value="{{ animal.lng }}"> 
                    {{#if errors.address }}
                    <p>{{ errors.address }}</p>
                    {{/if}}
                </div>

            </div>
        </div>
          <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">LAT/label>
                <div class="col-2">
                    <input class="form-control" type="string" name="lat" value="{{ animal.lat }}"> 
                    {{#if errors.address }}
                    <p>{{ errors.address }}</p>
                    {{/if}}
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">POSTCODE</label>
            <div class="col-2">
                <input class="form-control" type="number" name="postcode" value="{{ animal.postcode }}"> {{#if errors.postcode }}
                <p>{{ errors.postcode }}</p>
                {{/if}}
            </div>

        </div>
-->
        <button type="submit" class="btn btn-default btn-sm">Editar animal</button>
        <a href="/animals" class="btn btn-success">back</a>




</div>
</form>