<div class="container">

    <h1>EDIT FORM DOG</h1>
</div>

<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card">
            <div class="card-action pink darken-4 white-text">
                <h3>Edit Dog Form</h3>
            </div>

            <form action="/animals/{{ animal._id }}/edit" method="POST">

                <div class="card-content">
                    <div class="form-field">

                        <div class="input-field">
                            <label>Color</label>
                            <input name="color" type="text" value="{{animal.color}}" class="validate"> {{#if errors.color }}
                            <p>{{ errors.color }}</p>
                            {{/if}}
                        </div>

                        <div class="input-field">
                            <label>Age</label>
                            <input name="age" type="number" value="{{animal.age}}" class="validate" min="1" max="20"> {{#if errors.age }}
                            <p>{{ errors.age }}</p>
                            {{/if}}
                        </div>

                        <div class="input-field">
                            <label>Achievements</label>
                            <textarea name="achievements" type="text" class="materialize-textarea" value="{{animal.achievements}}"></textarea>
                        </div>

                        <div class="input-field">
                            <label>Trainer</label>
                            <input name="trainer" type="text" value="{{animal.trainer}}" class="validate"> {{#if errors.trainer}}
                            <p>{{ errors.trainer}}</p>
                            {{/if}}
                        </div>

                        <div class="input-field">
                            <label>Owner</label>
                            <input name="ownername" type="text" value="{{animal.ownername}}" class="validate"> {{#if errors.ownername}}
                            <p>{{ errors.ownername}}</p>
                            {{/if}}
                        </div>

                        <div class="input-field">
                            <label>Address</label>
                            <input name="address" type="text" value="{{animal.address}}" class="validate"> {{#if errors.address}}
                            <p>{{ errors.address}}</p>
                            {{/if}}
                        </div>

                        <div class="input-field">
                            <input placeholder="Longitude" name="lng" id="lng" type="string" class="validate"> {{#if errors.lng}}
                            <p>{{ errors.lng}}</p>
                            {{/if}}
                        </div>

                        <div class="input-field">
                            <input placeholder="Latitude" name="lat" id="lat" type="string" class="validate"> {{#if errors.lat}}
                            <p>{{ errors.lat}}</p>
                            {{/if}}
                        </div>

                        <div class="input-field">
                            <label>Postcode</label>
                            <input name="postcode" type="number" value="{{animal.postcode}}" class="validate"> {{#if errors.postcode}}
                            <p>{{ errors.postcode}}</p>
                            {{/if}}
                        </div>

                        <button type="submit" class="waves-effect waves-light btn">Save Changes</button>
                        <a href="/animals" class="waves-effect waves-light btn">Back</a>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>