<h1>LIST ANIMAL</h1>
<a href="/animals/create" class="btn btn-success">New Pet</a>

{{#each animals }}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://archive.icann.org/meetings/icann56/cdn.schd.ws/common/img/avatar-empty.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ this.name }}</h5>
    <p class="card-text">{{ this.type }}</p>
    <p class="card-text">{{ this.race }}</p>
    <p class="card-text">{{ this.sex }}</p>
    <p class="card-text">{{ this.pedigree }}</p>
    <p class="card-text">{{ this.achievements }}</p>
    <a href="/companies/{{this.id}}" class="text-primary">Details</a>
    <a href="/animals/edit/{{this.id}}" class="text-warning">Edit</a>
    <form action="/companies/{{ this.id }}/delete" method="post">
      <button type="submit" class="btn btn-sm btn-outline-danger" data-confirm="Are you sure?">Delete</button>
      <a href="#" class="btn btn-primary">Solicitar cruce</a>
  </div>
</div>
{{/each}}