<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Cargamos el css de bootstrap CDN aqui -->
  {{!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
  <!-- MATERIALIZE CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> {{!-- Icons CSS --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- SLIDER DE JHON -->
  {{!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"> --}}
</head>


<body>


  {{!--
  <div class="right-content">
    {{#if currentUser}}
    <a href="/sessions/logout">
      <button>Logout</button>
    </a>
    {{else}}
    <form class="formularioMolon" method="post" action="sessions/create">
      <input type="text" name="email" placeholder="Email.." value="" /> {{#if errors.email}}
      <p>{{ errors.email }}</p>
      {{/if}}
      <input type="password" name="password" placeholder="Password.." value="" /> {{#if errors.password}}
      <p>{{errors.password}}</p>
      {{/if}}
      <button type="submit">Login</button>
      <button type="submit">
        <a href="/users/signup">Sign up</a>
      </button>
    </form>
    {{/if}}
  </div> --}} {{{body}}}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/dog-api.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>